body {
    background: #FBF9CD;
    font-family: Palatino, serif;
    margin: 0;
    overflow-y: hidden;
}
header{
    font-size: 7.5vw;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#home{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
/*about page*/
#about{
    height: 800px;
    overflow: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
#about header{
    display:flex;
    width:75vw;
    align-items: flex-start;
}
#info{
    width: 75vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.about_para{
    grid-row: 1;
    grid-column: 1 / span 2;
    font-size: 2.2vw;
}
.me_img{
    height: 25vw;
    width: 25vw;
    grid-row: 1;
    grid-column: 3;
    margin-left: 5vw;
}
/*navigation bar*/
nav ul{
    width: 100%;
    height: 50vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#navbar {
    overflow: hidden;
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    text-align: center;
    font-size: 3.5vw;
    padding-top: 10px;
}
.red{
    grid-row: 1;
    grid-column: 1;
    background: #CA3B0C;
}
.orange{
    grid-row: 1;
    grid-column: 2;
    background:#D55E00;
}
.gold{
    grid-row: 1;
    grid-column: 3;
    background:#D49B1D;
}
.yellow{
    grid-row: 1;
    grid-column: 4;
    background: #E2E28C;
}
.green{
    grid-row: 1;
    grid-column: 5;
    background:#79CC93;
}
.lightblue{
    grid-row: 1;
    grid-column: 6;
    background: #54d3f1;
}
.medblue{
    grid-row: 1;
    grid-column: 7;
    background: #00989E;
}
.darkblue{
    grid-row: 1;
    grid-column: 8;
    background: #137D86;
}
li a{
    display:block;
    height:50vh;
    text-decoration: none;
    color: black;
}
a:hover{
    color: #FBF9CD;
}
#navbar .gold:hover{
    background: #926b14;
}
#navbar .yellow:hover{
    background: #888854;
}
#navbar .green:hover{
    background: #4c805c;
}
#navbar .lightblue:hover {
    background: #2b6775;
}
/*footer*/
footer ul{
    width: 100%;
    height: 3vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    visibility: hidden;
}
/*projects*/
#projects{
    height: 800px;
    overflow: hidden;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects {
    height: 75vh;
    width: 75vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
#projects header {
    margin-bottom: 1vh;
    display: flex;
    width: 75vw;
    justify-content: flex-start;
    align-items: flex-start;
}
.proj_header{
    margin-bottom:0;
}
.proj_a{
    text-align: left;
    font-size: 1.25vw;
    width: 24vw;
    height: 25vh;
    padding-right:1vw;
    grid-row:1;
    grid-column: 1;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.proj_pic{
    width: 60%;
    padding: 0 1vw 0 1vw;
}
.proj_a_pic{
    grid-row: 2;
    grid-column: 1;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.proj_b{
    text-align: left;
    font-size: 1.25vw;
    width: 24vw;
    height: 25vh;
    padding-right:1vw;
    grid-row:1;
    grid-column: 2;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.proj_b_pic{
    grid-row: 2;
    grid-column: 2;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.proj_c{
    text-align: left;
    font-size: 1.25vw;
    width: 24vw;
    height: 25vh;
    padding-right:1vw;
    grid-row: 1;
    grid-column: 3;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.proj_c_pic{
    grid-row: 2;
    grid-column: 3;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/*links*/
#links{
    height: 800px;
    overflow: hidden;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons{
    height: 50vh;
    width: 50vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
#git_pic{
    grid-row: 1;
    grid-column: 1;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#linkedin_pic{
    grid-row: 1;
    grid-column: 2;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#links a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*email link*/
#links a:link, #projects a:any-link {
    color: #00989E;
    background-color: transparent;
    text-decoration: none;
}

#links a:hover, #projects a:hover {
    color: #2b6775;
    background-color: transparent;
    text-decoration: underline;
}
