body {
    background: #FBF9CD;
    font-family: Palatino, serif;
}
header{
    font-size: 7.5vw;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
/*about page*/
#about{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
#about header{
    display:flex;
    width:75vw;
    align-items: flex-start;
}
#info{
    width: 75vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.about_para{
    grid-row: 1;
    grid-column: 1 / span 2;
    font-size: 2.2vw;
}
.me_img{
    height: 25vw;
    width: 25vw;
    grid-row: 1;
    grid-column: 3;
}
/*navigation bar*/
nav ul{
    width: 100vw;
    height: 50vh;
    list-style-type: none;
    font-size: 30pt;
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
li{
    text-align: center;
    font-size: 3.5vw;
}
.red{
    grid-row: 1;
    grid-column: 1;
    background: #CA3B0C;
}
.orange{
    grid-row: 1;
    grid-column: 2;
    background:#D55E00;
}
.gold{
    grid-row: 1;
    grid-column: 3;
    background:#D49B1D;
}
 .yellow{
    grid-row: 1;
    grid-column: 4;
    background: #E2E28C;
}
.green{
    grid-row: 1;
    grid-column: 5;
    background:#79CC93;
}
.lightblue{
    grid-row: 1;
    grid-column: 6;
    background:#54D3F1;
}
.medblue{
    grid-row: 1;
    grid-column: 7;
    background: #00989E;
}
.darkblue{
    grid-row: 1;
    grid-column: 8;
    background: #137D86;
}
a{
    display:block;
    height:50vh;
    text-decoration: none;
    color: black;
}
a:hover{
    color: #FBF9CD;
}
.gold:hover{
    background: #926b14;
}
.yellow:hover{
    background: #888854;
}
.green:hover{
    background: #4c805c;
}
.lightblue:hover{
    background: #2b6775;
}
/*projects*/
#projects{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.projects {
    height: 50vh;
    width: 75vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#projects header {
    display: flex;
    width: 75vw;
    justify-content: flex-end;
    align-items: center;
}
.proj_header{
    margin-bottom:0pt;
}
.proj_a{
    text-align: right;
    font-size: 1.25vw;
    width: 13vw;
    height: 13vw;
    grid-row:1;
    grid-column: 1.5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.proj_a_pic{
    width: 13vw;
    height: 13vw;
    padding: 0 1vw 0 1vw;
    grid-row: 1;
    grid-column: 2;

}
.proj_b{
    text-align: right;
    font-size: 1.25vw;
    width: 13vw;
    height: 13vw;
    grid-row:1;
    grid-column: 3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.proj_b_pic{
    width: 13vw;
    height: 13vw;
    padding: 0 1vw 0 1vw;
    grid-row: 1;
    grid-column: 4;
}
.proj_c{
    text-align: right;
    font-size: 1.25vw;
    width: 13vw;
    height: 13vw;
    grid-row: 1;
    grid-column: 5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.proj_c_pic{
    width: 13vw;
    height: 13vw;
    padding: 0 1vw 0 1vw;
    grid-row: 1;
    grid-column: 6;
}

