body {
    background: #FBF9CD;
    font-family: Palatino, serif;
}
header{
    font-size: 60pt;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home{
    height: 50vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
/*about page*/
#about{
    width: 75vw;
    display: flex;
    margin: 200pt;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}
#info{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}
.about_para{
    grid-row: 1;
    grid-column: 1 / span 2;
    font-size: 20pt;
}
.me_img{
    height:15vw;
    width:15vw;
    margin-left: 50pt;
    grid-row: 1;
    grid-column: 3;
}
/*navigation bar*/
ul {
    width: 100vw;
    height: 25vw;
    list-style-type: none;
    font-size: 30pt;
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.red{
    grid-row: 1;
    grid-column: 1;
    background: #CA3B0C;
}
.orange{
    grid-row: 1;
    grid-column: 2;
    background:#D55E00;
}
.gold{
    grid-row: 1;
    grid-column: 3;
    background:#D49B1D;
    text-align: center;
}
 .yellow{
    grid-row: 1;
    grid-column: 4;
    background: #E2E28C;
    text-align: center;
}
.green{
    grid-row: 1;
    grid-column: 5;
    background:#79CC93;
    text-align: center;
}
.lightblue{
    grid-row: 1;
    grid-column: 6;
    background:#54D3F1;
    text-align: center;
}
.medblue{
    grid-row: 1;
    grid-column: 7;
    background: #00989E;
}
.darkblue{
    grid-row: 1;
    grid-column: 8;
    background: #137D86;
}
a{
    display:block;
    height:25vw;
    text-decoration: none;
    color: black;
}
.gold:hover{
    background: #926b14;
    color: #FBF9CD;
}
.yellow:hover{
    background: #888854;
    color: #FBF9CD;
}
.green:hover{
    background: #4c805c;
    color: #FBF9CD;
}
.lightblue:hover{
    background: #2b6775;
    color: #FBF9CD;
}
/*projects page*/
#projects{
    width: 75vw;
    margin: 100pt;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.projects {
    height: 50vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
}
.proj_header{
    margin-bottom:0pt;
}
.proj_a{
    text-align: right;
    grid-row:1;
    grid-column: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}
.proj_a_pic{
    width: 250px;
    height: 250px;
    grid-row: 1;
    grid-column: 2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.proj_b{
    text-align: right;
    grid-row:1;
    grid-column: 3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.proj_b_pic{
    width: 250px;
    height: 250px;
    grid-row: 1;
    grid-column: 4;
}
.proj_c{
    text-align: right;
    grid-row: 1;
    grid-column: 5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.proj_c_pic{
    width: 250px;
    height: 250px;
    grid-row: 1;
    grid-column: 6;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

